.reset_button{
    height: 100px;
     width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color:#ff4d4d;
  color: #FFF;
  font-family: sarif;
  font-size:35px;
  padding-top:40px;
   border:solid 3px white; 
}
.button_container{
  display: inline-block;
  font-size: 0px;
  vertical-align: top;
}
.button{
	 height: 50px;
  width:260px;
  border-radius:10px;
  text-align: center;
  background-color: #555;
  color: #FFF;
  font-family: sarif;
  font-size: 40px;
  padding-top:40px;
   border: solid 3px #fff; 
}
.red{background-color:red;}
.green{background-color:green;}
.blue{background-color:blue;}
.color_Black{background-color:black;}
.color_Blue{background-color:blue;}